<form
  class="vehicle-form"
  action="/submit-vehicle"
  method="POST"
  [formGroup]="vehicleForm"
  (ngSubmit)="onSubmit()"
  style="z-index: 11;"
>
  <!-- Licence Plate -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Licence Plate</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="licencePlate"
        placeholder="Licence Plate"
        formControlName="licencePlate"
      />
    </div>
  </div>

  <!-- Make -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Make</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="make"
        placeholder="Make"
        formControlName="make"
      />
    </div>
  </div>

  <!-- Model -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Model</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="vModel"
        placeholder="Model"
        formControlName="model"
      />
    </div>
  </div>

  <!-- Year -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Year</label>
    <div class="col-sm-9">
      <input
        type="number"
        class="form-control"
        name="year"
        placeholder="Year"
        formControlName="year"
        min="1900"
        max="2024"
      />
    </div>
  </div>

  <!-- Transmission -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Transmission</label>
    <div class="col-sm-9">
      <select
        class="form-control"
        name="transmission"
        formControlName="transmission"
        required
      >
        <option value="" disabled selected>Select Transmission</option>
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option>
        <option value="Semi-Automatic">Semi-Automatic</option>
      </select>
    </div>
  </div>

  <!-- Fuel Type -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Fuel Type</label>
    <div class="col-sm-9">
      <select class="form-control" name="fuelType" formControlName="fuelType">
        <option value="" disabled selected>Select Fuel Type</option>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="Electric">Electric</option>
        <option value="Hybrid">Hybrid</option>
      </select>
    </div>
  </div>

  <!-- Engine Capacity -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Engine Capacity (L)</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="engineCapacity"
        [class]="!editMode ? 'input-inactive' : ''"
        placeholder="Engine Capacity"
        formControlName="engineCapacity"
        required
      />
    </div>
  </div>

  <!-- Vehicle Type -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Vehicle Type</label>
    <div class="col-sm-9">
      <select
        class="form-control"
        name="vehicleType"
        formControlName="vehicleType"
        required
      >
        <option value="" disabled selected>Select Vehicle Type</option>
        <option value="Car">Car</option>
        <option value="Motorbike">Motorbike</option>
      </select>
    </div>
  </div>

  <!-- Availability -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Availability</label>
    <div class="col-sm-9">
      <select
        class="form-control"
        name="availability"
        formControlName="availability"
        required
      >
        <option value="" disabled selected>Select Availability</option>
        <option value="true">Available</option>
        <option value="false">Not Available</option>
      </select>
    </div>
  </div>

  <!-- Body type - only for Cars) -->
  @if(vehicleForm.get('vehicleType')?.value === 'Car') {
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Body Type</label>
    <div class="col-sm-9">
      <select
        class="form-control"
        name="bodyType"
        [class]="!editMode ? 'input-inactive' : ''"
        formControlName="bodyType"
      >
        <option value="" disabled selected>Select Body Type</option>
        <option value="Sedan">Sedan</option>
        <option value="Coupe">Coupe</option>
        <option value="SUV">SUV</option>
        <option value="Hatchback">Hatchback</option>
        <option value="Convertible">Convertible</option>
      </select>
    </div>
  </div>
  }

  <!-- Motorbike Type - Only for motorbikes -->
  @if(vehicleForm.get('vehicleType')?.value ) {
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Motorbike Type</label>
    <div class="col-sm-9">
      <select
        class="form-control"
        name="motorBikeType"
        [class]="!editMode ? 'input-inactive' : ''"
        formControlName="motorBikeType"
      >
        <option value="" disabled selected>Select Motorbike Type</option>
        <option value="Cruiser">Cruiser</option>
        <option value="Sportbike">Sportbike</option>
        <option value="Touring">Touring</option>
        <option value="Dual-Sport">Dual-Sport</option>
      </select>
    </div>
  </div>
  }

  <!-- Submit Button -->

  <div class="form-group row form-submit-row">
    <button type="button" class="btn" style="margin-right: 1rem;">Cancel</button>
    <button type="submit" class="btn" [disabled]="!vehicleForm.valid">
      Submit
    </button>
  </div>
</form>
