ul {
    list-style: none;
}
.vehicle-badge {
    height: 3rem;
}

button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem 0.35rem 2rem;
    background: #fafafa;
    color: rgb(37, 37, 37);
    border: 1px solid rgb(219, 219, 219);
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: left;
    border-radius: 6px;
}

button:hover,
button:active,
.active {
    background-color: rgb(80, 43, 139);
    color: rgb(255, 255, 255);
}

img {
    width: 2rem;
    object-fit: contain;
    border-radius: 10%;
    box-shadow: none;
}

span {
    margin: 0;
    margin-left: .5rem;
    padding: 0;
    font-size: 1.05rem;
    font-weight: normal;
    height: 100%;
}